bitsandbytes==0.47.0
black==24.10.0
chardet==5.2.0
colorama==0.4.6
cppimport==22.8.2
cupy-cuda12x==13.6.0
datasets==4.0.0
diffusers==0.35.1
docstring-parser==0.17.0
gmpy2==2.2.1
habitat-sim==0.3.1
hydra-core==1.3.2
ipykernel==6.30.1
jaraco.collections==5.1.0
jsonargparse==4.41.0
lightning==2.4.0
magnum==0.0.0
munkres==1.1.4
nvidia-cufile-cu12==1.13.1.3
nvidia-cusparselt-cu12==0.7.1
nvidia-modelopt==0.29.0
onnx-graphsurgeon==0.5.8
onnxconverter-common==1.16.0
onnxruntime==1.18.1
onnxsim==0.4.36
peft==0.17.1
pickleshare==0.7.5
pip-chill==1.0.3
pulp==3.2.2
pynvml==13.0.1
pyqt5==5.15.9
roma==1.5.0
sip==6.7.12
tensorboardx==2.6.4
tensorrt-cu12==10.13.3.9
tensorrt-cu13==10.13.3.9
toml==0.10.2
torch-cluster==1.6.3
torch-geometric==2.5.3
torch-scatter==2.1.2
torch-sparse==0.6.18
torch-tensorrt==2.3.0
torchprofile==0.0.4
typeshed-client==2.8.2
tzdata==2025.2
unicodedata2==16.0.0
wandb==0.21.3
xformers==0.0.27
